/* your styles go here */
#gk-bg {
  background: transparent;
}
 
#gk-header {
    background: transparent;
    overflow: hidden;
}
#video-bg {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}